body {
  font-family: "Verdana";
  background: repeating-linear-gradient(-45deg, #292929, #292929 30px, #212121 30px, #212121 500px);
  background-attachment: fixed;
  color: #8e8e8e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 104px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  color: #ffffff;
  font-size: 60px;
  margin: 3px;
}

.text {
  font-size: 30px;
}

.left-padding {
  padding-right: 10px;
  padding-left: 140px;
  /* padding: 80px 5px 25px 140px; */
}

.right-padding{
  padding-right: 140px;
  padding-left: 10px;
  /* padding: 80px 140px 25px 5px; */
}


.section {
  padding-top: 50px;
  padding-bottom: 50px;
  /* margin: auto might be the cause of the weird shift to the left of everything in the console editor*/
  margin: auto;
  max-width: 85%;
}

a:link {
  color: #7BAFD4;
  text-decoration: none;
}

a:visited {
  color: #7BAFD4;
  text-decoration: none;
}

.left-margin {
  margin-left: 3rem;
}

@media (min-width: 741px) and (max-width: 1800px) {
  .right-padding {
    padding-right: 70px;
  }

  .left-padding {
    padding-left: 70px;
  }

  .text {
    font-size: 23px;
  }

  .title {
    font-size: 45px;
  }

  .section {
    padding-top: 37px;
    padding-bottom: 37px;
    /* max-width: 1100px; */
  }

  .left-margin {
    margin-left: 2rem;
  }
}

@media (max-width: 740px) {
  .right-padding {
    padding-right: 0px;
    padding-left: 0px;
  }

  .left-padding {
    padding-right: 0px;
    padding-left: 0px;
  }

  .text {
    font-size: 15px;
  }

  .title {
    font-size: 30px;
  }

  .section {
    padding-top: 25px;
    padding-bottom: 25px;
    /* max-width: 540px; */
  }

  .left-margin {
    margin-left: 1rem;
  }
}