body {
  font-family: "Verdana";
  background: repeating-linear-gradient(-45deg, #292929, #292929 30px, #212121 30px, #212121 500px);
  background-attachment: fixed;
  color: #8e8e8e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 104px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  color: #ffffff;
  font-size: 60px;
  margin: 3px;
}

.text {
  font-size: 30px;
}

.left-padding {
  padding-right: 5px;
  padding-left: 140px;
  /* padding: 80px 5px 25px 140px; */
}

.right-padding{
  padding-right: 140px;
  padding-left: 5px;
  /* padding: 80px 140px 25px 5px; */
}


.section {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  max-width: 2124px;
}

a:link {
  color: #7BAFD4;
  text-decoration: none;
}

a:visited {
  color: #7BAFD4;
  text-decoration: none;
}

@media (max-width: 740px) {
  .right-padding {
    padding-right: 0px;
    padding-left: 0px;
  /* padding: 80px 50px 25px 5px; */
  }

  .left-padding {
    padding-right: 0px;
    padding-left: 0px;
    /* padding: 80px 5px 25px 50px; */
  }

  .text {
    font-size: 15px;
  }

  .title {
    color: #ffffff;
    font-size: 30px;
    margin: 3px;
  }
}