body {
  font-family: "Verdana";
  background: #212121;
  color: #8e8e8e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-padding-top: 104px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  color: #ffffff;
  font-size: 60px;
  margin: 3px;
}

.text {
  font-size: 30px;
}

.left-padding {
  padding: 80px 5px 25px 140px;
}

.right-padding{
  padding: 80px 140px 25px 5px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  max-width: 2124px;
}

a:link {
  color: #7BAFD4;
  text-decoration: none;
}

a:visited {
  color: #7BAFD4;
  text-decoration: none;
}